body {
  text-align: center;
  /* background-color: #155E75; */
  background-image: url(images/bg.jpg) ;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("images/crash.png");
}

.a {
  background-image: url("images/kick.png");

}

.s {
  background-image: url("images/snare.png");

}

.d {
  background-image: url("images/tom1.png");

}

.j {
  background-image: url("images/tom2.png");

}

.k {
  background-image: url("images/tom3.png");

}

.l {
  background-image: url("images/tom4.png");

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}



footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.footer{
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  border-top-right-radius: 1rem;
}
.footer .link{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.footer img{
  height:40px;
  width: 40px;
  filter:invert(100%);
}
.footer p{
  color: #EEEEEE;
  font-size: 1rem;
}
.footer ul{
  padding-inline-start: 0px;
}
.footer .list-non-bullet{
  list-style: none;
}
.footer .list-item-inline{
  display: inline;
  padding: 0rem 0.5rem;
}